<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	<ui:param name="bmi" value="bmi.xhtml"/>
	<ui:define name="maincontent"> <div class="jumbotron">
	<h1>Body Mass Index (BMI) Calculator</h1>
</div>
<h:form>
	<p:messages id="messages"/>
	<div class="form‐group">
		<label for="weight">Weight(in lbs):</label>
		<p:inputText id="weight" placeholder="Weight (in pounds)" 
		 styleClass="form‐control" value="#{bmiController.weight}">
		</p:inputText>
		<label for="height">Height(in inches):</label>
		<p:inputText id="height" placeholder="Height (in inches)"
			styleClass="form‐control" value="#{bmiController.height}">
		</p:inputText>
	</div>
	<p:commandButton value="Calculate" styleClass="btn btn‐primary"
		ajax="false" actionListener="#{bmiController.calculate()}"/>
</h:form> </ui:define>
</ui:composition>
