<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="Chinese Zodiac" />

	<ui:define name="maincontent">
	
		<div class="jumbotron">
			<h1>Kung Hsi Fa Tasi</h1>
		</div>
		
		<p:messages id="messages" />
		<h:form>			
			<div class="form‐group">
				<h:graphicImage value="#{chineseZodiacController.animalImageUrl}"></h:graphicImage><br /><br />
				
				<label for="weight">Birth Year</label><br />	
				<p:inputText id="year" placeholder="Year" styleClass="form‐control"
					value="#{chineseZodiacController.birthYear}" >
				</p:inputText>
			</div><br />
			
			<p:commandButton value="Get Animal" styleClass="btn btn‐primary" 
				ajax="false"
				actionListener="#{chineseZodiacController.calculate()}" />
		</h:form>
	</ui:define>

</ui:composition>