<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="DMIT2015 Home Page" />

	<ui:define name="maincontent">
		<h1>DMIT2015 Home Page</h1>
		
		<c:if test="#{request.remoteUser != null}">
			<form class="form-inline" action="#{request.contextPath}/logout" method="post">
				<input type="submit" value="Log out" /> 
				<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
			</form>		
		</c:if>
	</ui:define>

</ui:composition>