<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/template-dashboard.xhtml">
	
	<ui:param name="title" value="[put page title here]" />

	<ui:define name="maincontent">
		<div>
			<h1>Mortgage Payment Calculator</h1> 
		</div>
		
		<h:form>
			<p:panel>
				<p>
					Use the following form to calculate the monthly payment for a fully
					amortized loan.
				</p>
				
				<div class="form-group">
					<h:outputLabel value="Mortgage Amount:" for="ammountBorrowed"></h:outputLabel>
					<p:inputText id="ammountBorrowed" value=""></p:inputText>
					
					<h:outputLabel value="Interest Rate:" for="annualInterestRate"></h:outputLabel>
					<p:inputText id="annualInterestRate" value=""></p:inputText>
					
					<h:outputLabel value="Amortization Period:" for="amortizationPeriod"></h:outputLabel>
					<p:inputText id="amortizationPeriod"></p:inputText>
					
					<p:commandButton value="Calculate" styleClass="btn btn‐primary"
		ajax="false" actionListener="" update="messages"></p:commandButton>
				</div>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>
